[user]
	name = Efthymios Dellis
	email = eyth_dellis@hotmail.com
[core]
  pages = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  navigate = true
  light = false
[diff]
  colorMoved = default
[merge]
  conflictstyle = diff3
